<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="expires" content="0">
    <title>Кабінет користувача</title>
</head>
<body>
    <h1>Ласкаво просимо до вашого кабінету!</h1>
    
    <!-- Кнопка для переходу на сторінку зміни паролю -->
    <form action="/change_pass_button" method="GET">
        <button type="submit">Змінити пароль</button>
    </form>

    <!-- Кнопка для виходу -->
    <form action="/logout" method="GET">
        <button type="submit">Вийти</button>
    </form>
</body>
</html>
