<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Система входу</title>
</head>
<body>
    <h1>Ласкаво просимо на наш сайт</h1>

    <h2>Вхід</h2>
    <form action="/login" method="POST">
        <label for="loginUsername">Ім'я користувача:</label>
        <input type="text" id="loginUsername" name="loginUsername" required>
        <br>
        <label for="loginPassword">Пароль:</label>
        <input type="password" id="loginPassword" name="loginPassword" required>
        <br>
        <button type="submit">Увійти</button>
        <div id="messages">
            {% if error %}
                <div class="error-message">{{ error }}</div>
            {% endif %}
        </div>
    </form>
    <form action="/register" method="GET">
        <button type="submit">Реєстрація</button>
    </form>
    

</body>
</html>
